.img {
  @apply fixed left-9;
}

.nav {
  @apply m-3 bg-white left-0 w-full absolute;
  transform: translate3d(-12px, -6px, 0);
}

.nav__element {
  @apply block w-full py-4 px-2 border-b border-solid border-primary no-underline;
}

.nav__element--active {
  @apply font-bold;
}

@screen md {
  .nav {
    @apply fixed flex justify-end items-center top-0 w-full pr-12 z-10 m-0 bg-none;

    transform: translate3d(0px, 0px, 0px);
    transition-duration: 200ms;
    transition-property: background-color, color;
  }

  .nav__element {
    @apply no-underline cursor-pointer border-b-2 border-solid border-transparent w-auto;

    flex: 0 0 auto;
    cursor: pointer;
    color: inherit;
  }

  .nav__element--active {
    @apply font-bold border-primary;
  }
}

.button {
  @apply border-none bg-none m-0 p-0;
}

.octicon {
  @apply py-0 px-3 bg-primary-300;
}

.separator {
  @apply opacity-30 w-1 h-1 my-0 mx-4;

  flex: 0 0 auto;
  background-color: currentColor;
  color: inherit;
  border-radius: 50%;
}

.header {
  @apply fixed top-0 left-0 z-10 p-2 w-full bg-white;
  height: 65px;
}

.header__content {
  @apply flex justify-between;
}

.logo {
  height: 50px;
}

.offset {
  @apply w-full relative;
  height: 65px;
}

@screen md {
  .offset {
    height: 0;
  }
}
